* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

body {
    background-color: #121139;
    font-family: 'Poppins', sans-serif;
}